@import url(./_theme/section-title_theme_dark.css);

.section-title {
  padding: 0;
  width: 60%;
  text-align: center;
  margin: 100px auto 0 auto;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
}