@import url(./_theme/section-subtitle_theme_dark.css);

.section-subtitle {
  padding: 0;
  width: 60%;
  text-align: center;
  margin: 20px auto 0 auto;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}