.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  padding: 0;
  color: black;
  font-size: 36px;
  line-height: 51px;
  text-decoration: none;
}

.feinman__link:hover {
  opacity: 0.5;
  transition: all 0.5s linear 0.05s;
}