.footer__link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0; 
}

.footer__link:hover {
  opacity: 0.5;
  transition: all 0.5s linear 0.05s;
}