@import url(./__link/feinman__link.css);
@import url(./__subtitle/feinman__subtitle.css);
@import url(./__title/feinman__title.css);

.feinman {
  height: 790px;
  background-image: url(./images/feynman.png);
  background-color: #F2F2F2;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  position: relative;
  padding-top: 100px;
}