@import url(./__column/footer__column.css);
@import url(./__column-heading/footer__column-heading.css);
@import url(./__author/footer__author.css);
@import url(./__columns/footer__columns.css);
@import url(./__column-links/footer__column-links.css);
@import url(./__link/footer__link.css);
@import url(./__social-icon/footer__social-icon.css);

.footer {
  min-height: 350px;
  background-color: #1F1F1F;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
}
