.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  background-color: #F2F2F2;
  font-size: 20px;
  align-items: center;
}

.logo {
  z-index: 2;
  background-repeat: no-repeat;
  }

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 183px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  width: 730px;
  line-height: 96px;
  margin-left: 64px;
  font-size: 102px;
  z-index: 1;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  z-index: 1;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  right: 0;
  top: 64px;
}

.header__main-illustration {
  width: 765px;
  height: 508px;
  background-image: url(../images/header-image.png);
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
}

.description {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
  }

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
  margin: 0;
  padding: 0;
  }

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

.section-title {
  padding: 0;
  width: 60%;
  text-align: center;
  margin: 100px auto 0 auto;
  font-size: 60px;
  line-height: 69px;
  font-weight: bold;
}

.section-subtitle {
  padding: 0;
  width: 60%;
  text-align: center;
  margin: 20px auto 0 auto;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.table {
  display: flex;
  margin: auto;
  max-width: 1100px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.table__text {
  padding: 0;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.feinman {
  height: 790px;
  background-image: url(../images/feynman.png);
  background-color: #F2F2F2;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  position: relative;
  padding-top: 100px;
}

.feinman__title {
  font-size: 120px;
  line-height: 1.15;
  margin: 0 auto 0 auto;
  text-align: center;
  width: 648px;
}

.feinman__subtitle {
  margin: 70px auto 0 auto;
  text-align: center;
  font-size: 36px;
  line-height: 51px;
}

.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  padding: 0;
  color: black;
  font-size: 36px;
  line-height: 51px;
  text-decoration: none;
}

.kaufman {
  background-color: #1f1f1f;
  padding: 90px 0 90px 0;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
  font-size: 60px;
  line-height: 69px;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  position: relative;
  font-size: 24px;
  line-height: 34px;
  z-index: 1;
 }

 .table_theme_dark {
  margin: 0 auto 0 auto;
  justify-content: space-between;
  align-content: space-between;
 }

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0 0;
  z-index: 1;
 }

 .table__heading_theme_dark {
  font-size: 24px;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.table__text_theme_dark {
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}

.footer {
  min-height: 350px;
  background-color: #1F1F1F;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
}

.footer__column {
  min-height: 350px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  width: 183px;
  height: 35px;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  color: white;
  padding: 18px 0 18px 0;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.footer__column-links {
  margin: 20px 0 16px;
  padding: 0;
  list-style-type: none;
  }

.footer__link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  margin: 0;
  padding: ; }

  .footer__social-icon {
    size: 16px 16px;
    margin-right: 10px;
  }
