.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  color: #2F80ED;
  margin-left: 48px;
  padding: 0;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: all 0.5s linear 0.05s;
}